*{
  padding: 0;
  margin: 0;
  list-style: none;
}
article{
  background-color: #bfc8ff;
  text-align: center;
}
div{
  background-color: #adb8ff;
  text-align: center;

}
section{
  background-color: #415aff;
  text-align: center;

}
aside{
  background-color: #0f2fff;
  text-align: center;

}
header{
  background-color: #9ca3c9;
}
nav{
  background-color: #0d6653;
}
footer{
  background-color: #29399b;
}
span{
  background-color: #ffd1d1;
}
input{
  width: 100px;
}