article{
  background-color: #bfc8ff;
  text-align: center;
}
div{
  background-color: #adb8ff;
  text-align: center;

}
section{
  background-color: #415aff;
  text-align: center;

}
aside{
  background-color: #0f2fff;
  text-align: center;

}